* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: linear-gradient(45deg, #000000, #1e1e1e);
    background-size: 300% 300%;
    animation: gradient 4s ease infinite;
    border-bottom: 3px solid transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px transparent;
}

/* you can set a style on hover for any module like this */
#custom-launcher:hover {
    background-color: transparent;
    color: #3498db;
}

#custom-add:hover {
    background-color: transparent;
    color: #00ff00;
}

#custom-media:hover {
    background-color: rgb(102, 204, 153);
    color: #000000;
}

#custom-power:hover {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}

#mpd:hover {
    background-color: rgb(102, 204, 153);
    color: #000000;
}

#idle_inhibitor:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

#pulseaudio:hover {
    background-color: transparent;
    color: rgb(241, 196, 15);
}

#pulseaudio.microphone:hover {
    background-color: transparent;
    color: #00c3ff;
}

#power-profiles-daemon:hover {
    background-color: rgb(46, 204, 113);
    color: #000000;
}

#cpu:hover {
    background-color: transparent;
    color: #ffe600;
}

#memory:hover {
    background-color: rgb(155, 89, 182);
    color: #000000;
}

#temperature:hover {
    background-color: rgb(255, 255, 0);
    color: #000000;
}

#backlight:hover {
    background-color: rgb(243, 156, 18);
    color: #000000;
}

#battery:hover {
    background-color: rgb(39, 174, 96);
    color: #000000;
}

#clock:hover {
    background-color: rgb(52, 152, 219);
    color: #000000;
}

#network:hover {
    background-color: rgb(41, 128, 185);
    color: #ffffff;
}

#tray:hover {
    background-color: rgb(189, 195, 199);
    color: #000000;
}

#mode:hover {
    background-color: rgb(236, 240, 241);
    color: #000000;
}

#scratchpad:hover {
    background-color: rgb(149, 165, 166);
    color: #000000;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button label {
    font-size: 6px;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button:hover label {
    font-size: 10px;
}

#workspaces button.active {
    background-color: transparent;
    box-shadow: inset 0 -3px transparent;
    color: #00ffff;
}

#workspaces button.active label {
    font-size: 10px;
}

#workspaces button.urgent {
    background-color: #000000;
}

#mode {
    background-color: transparent;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-launcher,
#custom-add {
    padding: 0 10px;
    color: #ffffff;
    border-radius: 0;
    margin: 0 2px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: transparent;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: transparent;
    color: #fe1e1e;
}

#power-profiles-daemon.balanced {
    background-color: transparent;
    color: #eeff00;
}

#power-profiles-daemon.power-saver {
    background-color: transparent;
    color: #2ecc71;
}

label:focus {
    background-color: transparent;
}

#cpu {
    background-color: transparent;
    color: #ffffff;
}

#memory {
    background-color: transparent;
}

#disk {
    background-color: transparent;
}

#backlight {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
    color: #ffff00;
}

#pulseaudio.vol-10 {
    color: #ffe600;
}
#pulseaudio.vol-20 {
    color: #ffcc00;
}
#pulseaudio.vol-30 {
    color: #ffb300;
}
#pulseaudio.vol-40 {
    color: #ff9900;
}
#pulseaudio.vol-50 {
    color: #ff8000;
}
#pulseaudio.vol-60 {
    color: #ff6600;
}
#pulseaudio.vol-70 {
    color: #ff4d00;
}
#pulseaudio.vol-80 {
    color: #ff3300;
}
#pulseaudio.vol-90 {
    color: #ff1900;
}
#pulseaudio.vol-100 {
    color: #ff0000;
}

#pulseaudio.microphone.vol-10 {
    color: #e0ffff;
}
#pulseaudio.microphone.vol-20 {
    color: #b3e5fc;
}
#pulseaudio.microphone.vol-30 {
    color: #6bd0ff;
}
#pulseaudio.microphone.vol-40 {
    color: #29bbff;
}
#pulseaudio.microphone.vol-50 {
    color: #67a4ff;
}
#pulseaudio.microphone.vol-60 {
    color: #0088ff;
}
#pulseaudio.microphone.vol-70 {
    color: #001eff;
}
#pulseaudio.microphone.vol-80 {
    color: #0902d1;
}
#pulseaudio.microphone.vol-90 {
    color: #0277bd;
}
#pulseaudio.microphone.vol-100 {
    color: #01579b;
}

#pulseaudio:hover {
    background-color: transparent;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #ffffff;
}

#wireplumber {
    background-color: transparent;
    color: #ffffff;
}

#wireplumber.muted {
    background-color: transparent;
}

#custom-media {
    background-color: transparent;
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: transparent;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#temperature {
    background-color: transparent;
}

#temperature.critical {
    background-color: transparent;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: transparent;
}

#idle_inhibitor {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #ffffff;
}

#mpd {
    background-color: transparent;
    color: #ffffff;
}

#mpd.disconnected {
    background-color: transparent;
}

#mpd.stopped {
    background-color: transparent;
}

#mpd.paused {
    background-color: transparent;
}

#language {
    background: transparent;
    color: #ffffff;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: transparent;
    color: #ffffff;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: transparent;
}

#privacy-item.audio-in {
    background-color: transparent;
}

#privacy-item.audio-out {
    background-color: transparent;
}

#custom-launcher {
    background-color: transparent;
    color: #ffffff;
    padding: 0 20px;
}

#custom-add {
    background-color: transparent;
    font-size: 20px;
}

#custom-power {
    background-color: transparent;
    border-radius: 0;
    padding: 0 10px;
    margin: 0 2px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
