* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 3px solid transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px transparent;
}

/* you can set a style on hover for any module like this */
#custom-launcher:hover {
    background-color: #000000;
    color: #00eaff;
}

#custom-add:hover {
    background-color: #000000;
    color: #00ff00;
}

#custom-media:hover {
    background-color: #000000;
    color: #ffffff;
}

#custom-power:hover {
    background-color: #000000;
    color: #ff0000;
}

#custom-camera:hover {
    background-color: #000000;
    color: #ffffff;
}

#custom-camera.on {
    color: #ffffff;
}

#custom-camera.off {
    color: #808080; /* grey */
}

#mpd:hover {
    background-color: #000000;
    color: #ffffff;
}

#idle_inhibitor:hover {
    background-color: #000000;
    color: #ffffff;
}

#pulseaudio:hover {
    background-color: #000000;
    color: rgb(241, 196, 15);
}

#pulseaudio.microphone:hover {
    background-color: #000000;
}

#power-profiles-daemon:hover {
    background-color: #000000;
    color: #ffffff;
}

#cpu:hover {
    background-color: #000000;
    color: #ffffff;
}

#memory:hover {
    background-color: #000000;
}

#backlight:hover {
    background-color: #000000;
}

#clock:hover {
    background-color: #000000;
    color: #ffffff;
}

#network:hover {
    background-color: #000000;
}

#tray:hover {
    background-color: #000000;
    color: #ffffff;
}

#mode:hover {
    background-color: #000000;
    color: #ffffff;
}

#scratchpad:hover {
    background-color: #000000;
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button label {
    font-size: 6px;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button:hover label {
    font-size: 10px;
}

#workspaces button.active {
    background-color: transparent;
    box-shadow: inset 0 -3px transparent;
    color: #00ffff;
}

#workspaces button.active label {
    font-size: 10px;
}

#workspaces button.urgent {
    background-color: #000000;
}

#mode {
    background-color: transparent;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-camera {
    padding: 0 5px;
    color: #ffffff;
    border-radius: 0;
    margin: 0 3px;
}

#custom-launcher,
#custom-add {
    padding: 0 10px;
    color: #ffffff;
    border-radius: 0;
    margin: 0 2px;
}
#window,
#workspaces {
    margin: 0 4px;
}

/* Vertically center left-side modules */
#mode,
#scratchpad {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
    color: #ffffff;
}

#battery.bat-10, #battery.bat-20 {
    color: #ff0000;
}

#battery.bat-30 {
    color: #ff4d00;
}

#battery.bat-40 {
    color: #ff9900;
}

#battery.bat-50 {
    color: #ffcc00;
}

#battery.bat-60 {
    color: #ffff00;
}

#battery.bat-70 {
    color: #ccff00;
}

#battery.bat-80 {
    color: #99ff00;
}

#battery.bat-90 {
    color: #4dff00;
}

#battery.bat-100 {
    color: #00ff9d;
}

#battery.charging, #battery.plugged {
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.bat-10:not(.charging), #battery.bat-20:not(.charging) {
    background-color: transparent;
    color: #ff0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery:hover {
    background-color: #000000;
}

#power-profiles-daemon {
    padding-right: 5px;
}

#power-profiles-daemon.performance {
    color: #fe1e1e;
}

#power-profiles-daemon.balanced {
    color: #eeff00;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

label:focus {
    background-color: transparent;
}

#cpu {
    background-color: transparent;
    color: #ffffff;
}

#memory {
    background-color: transparent;
}

#disk {
    background-color: transparent;
}

#backlight {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
    color: #ffff00;
}

#pulseaudio.vol-10 {
    color: #ffe600;
}
#pulseaudio.vol-20 {
    color: #ffcc00;
}
#pulseaudio.vol-30 {
    color: #ffb300;
}
#pulseaudio.vol-40 {
    color: #ff9900;
}
#pulseaudio.vol-50 {
    color: #ff8000;
}
#pulseaudio.vol-60 {
    color: #ff6600;
}
#pulseaudio.vol-70 {
    color: #ff4d00;
}
#pulseaudio.vol-80 {
    color: #ff3300;
}
#pulseaudio.vol-90 {
    color: #ff1900;
}
#pulseaudio.vol-100 {
    color: #ff0000;
}

#pulseaudio.microphone {
    color: #00bfff;
}

#pulseaudio.microphone.muted {
    background-color: #000000;
    color: #00bfff;
}

#pulseaudio.microphone.source-muted {
    color: #808080;
}

#pulseaudio:hover {
    background-color: #000000;
}

#pulseaudio.muted {
    background-color: #000000;
    color: #7e7e7e;
}

#wireplumber {
    background-color: transparent;
    color: #ffffff;
}

#wireplumber.muted {
    background-color: transparent;
}

#custom-media {
    color: #ffffff;
    font-size: 11px;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: transparent;
}

#idle_inhibitor {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #ffffff;
}

#mpd {
    background-color: transparent;
    color: #ffffff;
}

#mpd.disconnected {
    background-color: transparent;
}

#mpd.stopped {
    background-color: transparent;
}

#mpd.paused {
    background-color: transparent;
}

#language {
    background: transparent;
    color: #ffffff;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: transparent;
    color: #ffffff;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background-color: #000000;
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: transparent;
}

#privacy-item.audio-in {
    background-color: transparent;
}

#privacy-item.audio-out {
    background-color: transparent;
}

#custom-launcher {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    padding: 0 19px 0 12px;
    margin: 5px 3px;
    font-size: 20px;
}

#custom-add {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    padding: 0 15px;
    margin: 5px 3px;
    font-size: 20px;
}

#custom-power {
    background-color: transparent;
    border-radius: 0;
    padding: 0 10px;
    margin: 0 2px;
}

/* Capsule Style for Right-Side Modules */
#custom-media,
#mpd,
#custom-camera,
#pulseaudio,
#pulseaudio.microphone,
#backlight,
#power-profiles-daemon,
#battery,
#tray,
#custom-power,
#clock,
#window,
#workspaces {
    background-color: #000000;
    border-radius: 20px;
    padding: 0 10px;
    margin: 5px 3px;
}

#custom-camera,
#battery,
#pulseaudio:not(.microphone) {
    padding: 0 10px 0 5px;
}

#custom-power {
    padding: 0 20px 0 17px;
}

#backlight {
    padding: 0 10px 0 9px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

